body {
    margin: 0;
    padding: 0;
    font-family: 'Graphik', sans-serif;
}

.hero {
    background-image: url('/images/hero-img.jpeg');
    background-size: cover;
    height: 90vh;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
}

.login-btn {
    font-weight: 600;
    padding: 10px 15px;
    color: lightgray;
}

.navbar a {
    text-decoration: none;
}

.login-btn:hover {
    cursor: pointer;
    background-color: rgb(65, 64, 64);
    color: white;
    border-radius: 8px;
}

/* Hero Section */

.hero-section {
    margin: 120px 0;
    text-align: center;
}

.hero-subs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-card {
    width: 350px;
    text-align: center;
}

.bundle-txt {
    font-weight: 600;
    color: #00ED82;
    font-size: 13px;
}

.left-img {
    margin-top: 10px;
    width: 60%;
}

.right-img {
    margin-top: 6px;
    width: 80%;
}

.pricing {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.get-subs {
    width: 90%;
    padding: 10px 0;
    font-weight: 600;
    font-size: 14px;
    background-color: #1CE783;
    border: none;
    border-radius: 4px;
}

.get-subs:hover {
    cursor: pointer;
    opacity: 0.5;
}

.terms {
    display: block;
    margin: 20px 0;
    color: white;
    font-size: 13px;
}

.sign-up {
    display: block;
    margin: 20px 0;
    color: white;
}
