body {
    margin: 0;
    padding: 0;
    font-family: 'Graphik', sans-serif;
}

.black-bg {
    background-color: black;
}

/* Hero Section */

.hero {
    background-image: url('/images/hero-img.jpeg');
    background-size: cover;
    height: 90vh;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
}

.login-btn {
    font-weight: 600;
    padding: 10px 15px;
    color: lightgray;
}

.navbar a {
    text-decoration: none;
}

.login-btn:hover {
    cursor: pointer;
    background-color: rgb(65, 64, 64);
    color: white;
    border-radius: 8px;
}

/* Hero Body */

.hero-section {
    margin: 120px 0;
    text-align: center;
}

.hero-subs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-card {
    width: 350px;
    text-align: center;
}

.bundle-txt {
    font-weight: 600;
    color: #00ED82;
    font-size: 13px;
}

.left-img {
    margin-top: 10px;
    width: 60%;
}

.right-img {
    margin-top: 6px;
    width: 80%;
}

.pricing {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.get-subs {
    width: 90%;
    padding: 10px 0;
    font-weight: 600;
    font-size: 14px;
    background-color: #1CE783;
    border: none;
    border-radius: 4px;
}

.get-subs:hover {
    cursor: pointer;
    opacity: 0.5;
}

.terms {
    display: block;
    margin: 20px 0;
    color: white;
    font-size: 13px;
}

.sign-up {
    display: block;
    margin: 20px 0;
    color: white;
}

/* Content */

.content {
    height: 100vh;
    padding: 10px 0 150px 0;
}

/* Content Body */

.content-header {
    margin: 80px 0 60px 0;
    text-align: center;
    color: white;
}

.header-info {
    color: #00ED82;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 22px;
}

.header-title {
    font-weight: 600;
    font-size: 48px;
    margin-top: 0;
}

.header-subtitle {
    font-size: 18px;
    margin-bottom: 0;
}

/* Content Listing */

.content-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.content-list-card {
    width: 294px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: 4px solid rgba(128, 128, 128, 0);
}

.content-list-card-img {
    width: 100%;
    opacity: 0.7;
}

.content-list-card:hover {
    border: 4px solid rgba(128, 128, 128, 1);
    cursor: pointer;
}

.content-list-card:hover .content-list-card-img {
    opacity: 0.5;
}

.content-list-card-txt {
    position: absolute;
    top: 5px;
    left: 20px;
    color: white;
}

.content-list-card-txt-info {
    font-weight: 500;
    font-size: 16px;
    margin: 20px 0 10px 0;
}

.content-list-card-txt-title {
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}

.bottom-info {
    text-align: right;
    color: rgb(149, 147, 147);
    margin: 20px 150px 0 0;
    font-size: 10px;
}

/* Live TV Section */

.live-tv {
    height: 60vh;
    padding: 10px 0 150px 0;
    text-align: center;
    color: white;
}

.live-tv-container {
    margin-top: 100px;
}

.live-tv-info {
    color: #00ED82;
    font-weight: 500;
    font-size: 15px;
}

.live-tv-title {
    font-weight: 600;
    font-size: 48px;
    margin-top: 5px;
}

.live-tv-description {
    font-size: 18px;
    line-height: 25px;
}

.live-tv-bottom-info {
    font-size: 10px;
    color: rgb(185, 185, 185);
    line-height: 15px;
}

.live-tv-link {
    color: rgb(185, 185, 185);
    margin-top: 10px;
    font-weight: 600;
    display: block;
}

@keyframes jumpInfinite {
    0% {
        margin-top: 50px;
    }

    50% {
        margin-top: 60px;
    }

    100% {
        margin-top: 50px;
    }
}

.down-arrow {
    animation: jumpInfinite 1.5s infinite;
}

.down-arrow:hover {
    cursor: pointer;
}

/* Live TV Contents Section */

.tv-content {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) -57.5%, rgba(0, 0, 0, 0) 98.72%), url(images/original5.jpeg);
    background-size: cover;
    height: 111vh;
    padding-top: 10px;
}

.tv-content-container {
    width: 480px;
    margin: 186px 0 0 280px;
    color: white;
}

.tv-content-tabs {
    display: flex;
    gap: 40px;
}

.content-tab {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.125;
    letter-spacing: 0.25px;
    opacity: 0.6;
    padding-bottom: 16px;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
}

.content-tab:hover {
    opacity: 1;
    cursor: pointer;
}

.live {
    opacity: 1;
    border-bottom: 5px solid rgba(255, 255, 255, 1);
}

.live:hover {
    opacity: 0.6;
}

.tv-content-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.5px;
    margin: 22px 0;
}

.tv-content-description {
    font-size: 18px;
    line-height: 1.35;
    font-weight: 400;
}

.tv-content-images {
    display: flex;
    gap: 28px;
}

.content-img {
    width: 42px;
    height: 42px;
    object-fit: contain;
    padding: 3px;
    background-color: white;
    border-radius: 50%;
}

.tv-content-bottom-info {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.46;
    color: hsla(0, 0%, 100%, .6);
    margin-top: 30px;
}

.tv-content-bottom-info a {
    color: hsla(0, 0%, 100%, .6);
}

/* Select Plan Section */

.plan {
    height: 100%;
    padding: 10px 0 40px 0;
}

.plan-container {
    color: white;
    margin: 0 280px;
}

.plan-header {
    text-align: center;
    margin-top: 80px;
}

.plan-header-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.5px;
    margin-bottom: 0;
}

.plan-header-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.32;
    padding-bottom: 40px;
    border-bottom: 0.5px solid rgb(87, 87, 87);
}

.plan-body-container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 30px 0;
    border-bottom: 0.5px solid rgb(87, 87, 87);
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: #040405;
}

.plan-body-left {
    display: flex;
    gap: 10px;
    margin-left: 40px;
}

.plan-body-left p {
    margin-bottom: 0;
}

.plan-body-left-base {
    text-align: center;
}

.plan-body-left-base-txt {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

.plan-body-left-bundle-txt {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
}

.plan-body-left-toggle {
    align-items: center;
}

.plan-body-left-base-img {
    margin-top: 18px;
}

.plan-body-left-bundle-img {
    width: 160px;
}

.plan-body-right {
    display: flex;
    width: 560px;
    gap: 20px;
    align-items: center;
}

.plan-body-right-ads {
    width: 50%;
    text-align: center;
}

.plan-body-right-popular {
    display: inline-block;
    font-size: 9px;
    padding: 12px 26px 10px;
    background: #1ce783;
    color: #16181d;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1;
    border-radius: 100px;
}

.plan-body-right-trial {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.6px;
    color: #bec0c2;
    margin-bottom: 5px;
}

.plan-body-right-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.32;
    margin-top: 0;
}

.plan-body-right-btn {
    width: 100%;
    padding: 16px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.6px;
    color: #040405;
    cursor: pointer;
}

.plan-body-right-noads {
    width: 50%;
    text-align: center;
    margin-top: 49px;
}

.plan-body-container {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    border-bottom: 0.5px solid rgb(87, 87, 87);
}

.plan-body-left-info-txt {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
}

.plan-body-right-info {
    display: flex;
    gap: 230px;
    margin-right: 90px;
}

.plan-body-left-info-imgl {
    margin-right: 42px;
}

.plan-body-left-info-imgr {
    margin-right: 30px;
}

.plan-body-left-info-dash {
    margin-right: 52px;
}

.plan-body-container-bottom-info {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.46;
    padding: 0;
    margin: 0;
}

.addon {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 10px 0;
    border-top: 0.5px solid rgb(87, 87, 87);
    border-bottom: 0.5px solid rgb(87, 87, 87);
}

.addon img {
    object-fit: contain;
}

.addon:hover {
    cursor: pointer;
}

 /* The switch - the box around the slider */
 .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
     margin-top: 14px;
 }

 /* Hide default HTML checkbox */
 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 /* The slider */
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: .4s;
     transition: .4s;
 }

 .slider:before {
     position: absolute;
     content: "";
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
 }

 input:checked+.slider {
     background-color: #1ce783;;
 }

 input:focus+.slider {
     box-shadow: 0 0 1px #1ce783;;
 }

 input:checked+.slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
 }

 /* Rounded sliders */
 .slider.round {
     border-radius: 34px;
 }

 .slider.round:before {
     border-radius: 50%;
 }

 /* Footer Section */

.footer {
    height: 100%;
}

.footer-container {
    display: flex;
    gap: 80px;
    margin: 0 220px 0 120px;
    padding: 100px 0 100px 0;
    border-bottom: 0.5px solid rgb(87, 87, 87);
}

.footer-container-links {
    width: 200px;
}

.footer-container a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    padding-bottom: 8px;
    color: #586174;
}

.policies {
    display: flex;
    justify-content: space-between;
    margin: 20px 200px 20px 120px;
    align-items: center;
}

.footer-policies {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.44;
    color: #586174;
    text-decoration: none;
}