body {
    margin: 0;
    padding: 0;
    font-family: 'Graphik', sans-serif;
}

.black-bg {
    background-color: black;
}

/* Hero Section */

.hero {
    background-image: url('/images/hero-img.jpeg');
    background-size: cover;
    height: 90vh;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
}

.login-btn {
    font-weight: 600;
    padding: 10px 15px;
    color: lightgray;
}

.navbar a {
    text-decoration: none;
}

.login-btn:hover {
    cursor: pointer;
    background-color: rgb(65, 64, 64);
    color: white;
    border-radius: 8px;
}

/* Hero Body */

.hero-section {
    margin: 120px 0;
    text-align: center;
}

.hero-subs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-card {
    width: 350px;
    text-align: center;
}

.bundle-txt {
    font-weight: 600;
    color: #00ED82;
    font-size: 13px;
}

.left-img {
    margin-top: 10px;
    width: 60%;
}

.right-img {
    margin-top: 6px;
    width: 80%;
}

.pricing {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.get-subs {
    width: 90%;
    padding: 10px 0;
    font-weight: 600;
    font-size: 14px;
    background-color: #1CE783;
    border: none;
    border-radius: 4px;
}

.get-subs:hover {
    cursor: pointer;
    opacity: 0.5;
}

.terms {
    display: block;
    margin: 20px 0;
    color: white;
    font-size: 13px;
}

.sign-up {
    display: block;
    margin: 20px 0;
    color: white;
}

/* Content */

.content {
    height: 100vh;
    padding: 10px 0 150px 0;
}

/* Content Body */

.content-header {
    margin: 80px 0 60px 0;
    text-align: center;
    color: white;
}

.header-info {
    color: #00ED82;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 22px;
}

.header-title {
    font-weight: 600;
    font-size: 48px;
    margin-top: 0;
}

.header-subtitle {
    font-size: 18px;
    margin-bottom: 0;
}

/* Content Listing */

.content-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.content-list-card {
    width: 294px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: 4px solid rgba(128, 128, 128, 0);
}

.content-list-card-img {
    width: 100%;
    opacity: 0.7;
}

.content-list-card:hover {
    border: 4px solid rgba(128, 128, 128, 1);
    cursor: pointer;
}

.content-list-card:hover .content-list-card-img {
    opacity: 0.5;
}

.content-list-card-txt {
    position: absolute;
    top: 5px;
    left: 20px;
    color: white;
}

.content-list-card-txt-info {
    font-weight: 500;
    font-size: 16px;
    margin: 20px 0 10px 0;
}

.content-list-card-txt-title {
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}

.bottom-info {
    text-align: right;
    color: rgb(149, 147, 147);
    margin: 20px 150px 0 0;
    font-size: 10px;
}

/* Live TV Section */

.live-tv {
    height: 60vh;
    padding: 10px 0 150px 0;
    text-align: center;
    color: white;
}

.live-tv-container {
    margin-top: 100px;
}

.live-tv-info {
    color: #00ED82;
    font-weight: 500;
    font-size: 15px;
}

.live-tv-title {
    font-weight: 600;
    font-size: 48px;
    margin-top: 5px;
}

.live-tv-description {
    font-size: 18px;
    line-height: 25px;
}

.live-tv-bottom-info {
    font-size: 10px;
    color: rgb(185, 185, 185);
    line-height: 15px;
}

.live-tv-link {
    color: rgb(185, 185, 185);
    margin-top: 10px;
    font-weight: 600;
    display: block;
}

@keyframes jumpInfinite {
    0% {
        margin-top: 50px;
    }

    50% {
        margin-top: 60px;
    }

    100% {
        margin-top: 50px;
    }
}

.down-arrow {
    animation: jumpInfinite 1.5s infinite;
}

.down-arrow:hover {
    cursor: pointer;
}

/* Live TV Contents Section */

.tv-content {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) -57.5%, rgba(0, 0, 0, 0) 98.72%), url(images/original5.jpeg);
    background-size: cover;
    height: 111vh;
    padding-top: 10px;
}

.tv-content-container {
    width: 480px;
    margin: 186px 0 0 280px;
    color: white;
}

.tv-content-tabs {
    display: flex;
    gap: 40px;
}

.content-tab {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.125;
    letter-spacing: 0.25px;
    opacity: 0.6;
    padding-bottom: 16px;
    border-bottom: 5px solid rgba(255, 255, 255, 0);
}

.content-tab:hover {
    opacity: 1;
    cursor: pointer;
}

.live {
    opacity: 1;
    border-bottom: 5px solid rgba(255, 255, 255, 1);
}

.live:hover {
    opacity: 0.6;
}

.tv-content-title {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.5px;
    margin: 22px 0;
}

.tv-content-description {
    font-size: 18px;
    line-height: 1.35;
    font-weight: 400;
}

.tv-content-images {
    display: flex;
    gap: 28px;
}

.content-img {
    width: 42px;
    height: 42px;
    object-fit: contain;
    padding: 3px;
    background-color: white;
    border-radius: 50%;
}

.tv-content-bottom-info {
    font-size: 10px;
    font-weight: 400;
    line-height: 1.46;
    color: hsla(0, 0%, 100%, .6);
    margin-top: 30px;
}

.tv-content-bottom-info a {
    color: hsla(0, 0%, 100%, .6);
}